.menu{
    width: 100vw;
    height: 40vh;    
    background-color: rgb(32, 32, 32);
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.menu.active{
    transition: all 2s ease ;
    position: absolute;
    top: 7.9vh;
}
.menu.active .menu-link a,.menu .menu-link a{
    color: white;
    text-decoration: none;
    padding: 5px;
    font-size: 18px;
}
.menu.active .menu-link:hover{
    transform: scale(1.02);
    border-bottom: 1px solid white;
}

@media only screen and (max-width: 430px){
    .menu{
        width: 102%;
    }
    .menu.active .menu-link a,.menu .menu-link a{
        font-size: 15px
    }
}
@media only screen and (max-height: 600px){
    .menu{
        height: 270px;
    }
    .menu.active{
        transition: all 2s ease ;
        position: absolute;
        top: 40px;
    }
}